<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Crowd Tagging</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/">Home</a>
      </li>
      <li routerLinkActive="active"><a routerLink="transcribe">Transcribe</a></li>
      <li routerLinkActive="active"><a routerLink="tutorial">Tutorial</a></li>
      <li routerLinkActive="active"><a routerLink="about-us">About Us</a></li>
    </ul>
  </div>
</nav>
