a { 
    color: black;
    padding: 0px;
}

.container-fluid {
    width: 100%;
}

a, div, .navbar-header {
    padding: 0px;
}

a, .container-fluid {
    align-items: center;
    display: flex;
}

button {
    background-color: #86DEB7;
    border-radius: 10px;
    border-style: none;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); 
    font-size: 1.5rem;
    height: 60%;
}

#logo {
    min-height: 65px;
    min-width: 95px;
    padding: 2% 0;
    padding-right: 3.5%;
    width: 18%;
    height: 90%;
}

.container-fluid, .navbar-brand, .navbar-header {
    height: 100%;
}

.container-fluid {
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);  
    justify-content: space-between;
}

.navbar > .container-fluid > .navbar-header > .navbar-brand {
    margin: 0px;
}

.navbar {
    background-color: #495867;
    height: 12vh;
    margin-bottom: 0px;
    min-height: 75px;
}

.navbar-brand {
    color: #f0f3f5;
    font-size: 2em;
}

.navbar-header{
    width: 40%;
    margin-left: 2%;
}

#login {
    width: 13%;
    height: 70%;
    margin-left: 30%;
    margin-right: 2.2%;
    font-size: 2rem;
}

#login:focus {
    outline: none;
}

#valueProp {
    color: #f0f3f5;
    font-size: 1.5rem;
    height: 30%;
}

#brandPlusProp {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}

#brand {
    line-height: 200%;
    height: 60%;
    vertical-align: middle;
}

.dropdown-content > button {
    all: unset;
    border-style: none;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25); 
    font-size: 1.5rem;
    background-color: #f9f9f9;
    text-align: center;
    min-width: 160px;
    height: 40%;
}

.dropdown-content > button:hover {
    background-color: #d8d7d7;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1000000000;
    transform: translateY(100%);
    height: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown {
    position: relative;
    min-height: 65px;
    min-width: 95px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 13%;
    height: 100%;
    margin-left: 40%;
}

.dropdown:hover img{
    opacity: 0.8;
}

#user {
    height: 85%;
    border-radius: 50%;
    margin-right: 25%;
}