<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">
        <img src="../../assets/CTlogo.png" id="logo">
        <div id="brandPlusProp" *ngIf="router.url != '/'; else propTemplate">
          <span id="brand">Crowd Tagging</span>
          <span id="valueProp">Streamlining Tag Discovery</span>
        </div>
      </a>
    </div>
    <span></span>
    <div *ngIf="user; else loginTemplate" class="dropdown">
      <img [src]="user.photoURL" id="user">
      <div class="dropdown-content">
        <button routerLink="/profile">Profile</button>
        <button routerLink="/transcribe">Transcribe</button>
        <button routerLink="/admin" *ngIf="user.roles.admin">Admin View</button>
        <button routerLink="/" (click)="logout()" >Log Out</button>
      </div>
    </div>
  </div>
</nav>

<ng-template #propTemplate>
  <span id="brand">Crowd Tagging</span>
</ng-template>
<ng-template #loginTemplate>
    <button id="login" (click)="login()">Log In</button>
</ng-template>