.title {
    background-color: #495867;
    box-shadow:0px 3px 3px rgba(0, 0, 0, 0.35); 
    height: 40px; 
    display: flex;
    align-items: center;
    padding-left: 13px;
    font-size: 20px;
    position: relative;
    z-index: 10;
    color: #f0f3f5;
}

.triangle {
    width: 6%;
	border-top: 9px solid transparent;
	border-left: 16px solid white;
    border-bottom: 9px solid transparent;
}

.rot {
    transform: rotate(90deg);
    margin: 2.5% 2% 0 -1%;
}

div + span {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip {
    font-size: 1rem;
    width: 65%;
    text-align: end;
}

.hidden {
    visibility: hidden;
}