<div id="container">
  <div id="options">
    <form onsubmit="return false"> 

      <div class="rowflex" id="exportRow">
        <div class="colflex selection">
          <span>Select</span>
          <span>All</span>
          <label class="chkbox-label">
            <input type="checkbox" class="chkbox-input" id="selectAll"><span></span>
          </label>
        </div>
        <div class="colflex">
          <button id="exportBtn">Export</button>
        </div>
        <div class="colflex">Title</div>
        <div class="colflex">Romanization</div>
          <div class="colflex">
            <span>Author:</span>
            <span>First Name</span>
          </div>
            <div class="colflex">
              <span>Author:</span>
              <span>Last Name</span>
            </div>
  

            <div class="colflex">
              <span>Publisher:</span>
              <span>Company</span>
            </div>
  

            <div class="colflex">
              <span>Publisher:</span>
              <span>City</span>
            </div>
  
    
            <div class="colflex">
              <span>Publisher:</span>
              <span>Coutry</span>
            </div>
      

            <div class="colflex">
              <span>Publisher:</span>
              <span>Year</span>
            </div>
  
          <div class="colflex">Pages</div>
          <div class="colflex">Genre</div>
      </div>
      
      <div class="rowflex" *ngFor="let i of [0,0,0,0,0,0,0,0,0,0]">
        <div class="selection colflex">
          <label class="chkbox-label">
              <input type="checkbox" class="chkbox-input"><span></span>
          </label>
        </div>

        <div class="colflex">
          <img src="http://via.placeholder.com/80x80" routerLink="/transcribe">
        </div>

        <div class="colflex">
          <span>Leaves of Grass </span>
        </div>

        <div class="colflex">
          <span>Leaves of Grass </span>
        </div>

        <div class="colflex">
          <span>Leaves of Grass </span>
        </div>

        <div class="colflex">
          <span>Leaves of Grass </span>
        </div>

        <div class="colflex">
          <span>Leaves of Grass </span>
        </div>

        <div class="colflex">
          <span>Leaves of Grass </span>
        </div>

        <div class="colflex">
          <span>Leaves of Grass </span>
        </div>

        <div class="colflex">
          <span>Leaves of Grass </span>
        </div>

        <div class="colflex">
          <span>Leaves of Grass </span>
        </div>

        <div class="colflex">
          <span>Leaves of Grass </span>
        </div>
      </div>
    </form>
  </div>
</div>