#container {
    height: 88vh;
    display: flex;
    width: 100vw;
}

#options {
    width: 100%;
    margin: 2%;
    overflow: scroll;
}

.chkbox-label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    padding-bottom: 8px;
    margin-left: 12px;
}

.chkbox-input{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.chkbox-label span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: inset 0px 2px 3px #aaa;
    background-color: white; 
}

.chkbox-input:checked ~ span:after{
    content: "";
    position: absolute;
    display: block;
    left: 5px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid #666;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

label {
    font-weight: normal;
}

div {
    min-width: 150px;
}

.selection {
    min-width: 40px;
    margin-right: -10px;
}

.colflex, .rowflex {
    display: flex;
}

.colflex {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.rowflex {
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
}

button {
    background-color: #495867;
    border-radius: 20px;
    border-style: none;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);  
    color: #f0f3f5;
    min-height: 50px;
    min-width: 100px;

}

button:focus {
    outline: none;
}

#exportBtn {
    background-color: #86DEB7;
    color: black;
}

img:hover {
    cursor: pointer;
}

#stats {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: flex-end;
    height: 40px;
    padding-left: 5%;
}

#exportRow {
    padding-top: 0%;
}

.complete {
    color: green;
}

img {
    height: 100%;
    max-height: 80px;
}