#container {
    height: 88vh;
    display: flex;
}

#galleryImage, #rotateContainer, #viewer {
    width: 100%;
    height: 100%;
}

#galleryImage {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dataSet {
    margin-bottom: 3%;
}

#options {
    width: 40%;
    margin: 2% 0%;
    padding-right: 2%;
    overflow: scroll;
}

#prev, #next {
    top: 50%;
    margin-top: -35px;
}

#prev, #rotateLeft {
    left: 3%;
    transform: translate(-160%);
}

#next, #rotateRight {
    right: 3%;
    transform: translate(160%);
}

#prev, #next, #rotateLeft, #rotateRight {
    position: absolute;
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: transform 111ms linear;
}

#rotateLeft, #rotateRight {
    top: 5%;
}

#progress {
    width: 100%;
    position: relative;
    top: 90%;
    height: 10%;
    z-index: 1;
    color: grey;
    font-size: 2rem;
    letter-spacing: 5px;
    transform: translateY(100%);
    transition: transform 111ms linear;
}

#progress, #viewer, #submit {
    display: flex;
    justify-content: center;
}

#viewContainer {
    position: relative;
    width: 60%;
    height: 100%;
    padding: 2%;
    padding-right: 1%;
}

#viewer {
    position: relative;
    overflow: hidden;
    background-color: black;
}

#rotateContainer {
    position: absolute;
}

#rotateContainer:focus, input[type="submit"]:focus {
    outline: none;
}

.hidden {
    visibility: hidden;
}

#submit {
    background-color: #86DEB7;
    border-radius: 13px;
    border-style: none;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);  
    font-size: 2rem;
    margin: 0 auto;
    min-width: 262px;
    width: 100%;
    height: 10%;
    min-height:40px;
    margin-bottom: 1%;
    color: black;
}

input[type="submit"] {
    background: none;
    border: none;
    width: 100%;
}

.chkbox-label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
    padding-bottom: 8px;
}

.chkbox-input{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.chkbox-label span:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 2px;
    -webkit-transition: .2s;
    transition: .2s;
    box-shadow: inset 0px 2px 3px #aaa;
    background-color: white; 
}

.chkbox-input:checked ~ span:after{
    content: "";
    position: absolute;
    display: block;
    left: 3px;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: #666;
    border-radius: 50%;
}

.data {
    background-color: #ddd;
    min-height: 110px;
    padding: 3% 8%;
    border-bottom: 1px #808080 solid;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ital {
    font-style: italic;
    margin-bottom: 2%;
    margin-left: -3px;
    font-size: 18px;
}

label {
    font-weight: normal;
}

input[type="text"] {
    height:30px;
    border-radius: 10px;
    border: none;
    font-size: 13px;
    box-shadow:0px 3px 3px rgba(0, 0, 0, 0.25) inset;  
    padding-left: 4%;
    margin-left: -2px;
    width: 78%;
}

.iconContainer {
    display: inline;
}

.pencil, .ex, .buffer {
    float: right;
}

.pencil {
    margin-right: 10%;
}

.ex {
    margin-right: 3%;
}

.buffer {
    width: 6%;
    display: inline-block;
}

.modified {
    margin-bottom: 1.5%;
    width: 78% !important;
}

.glyphicon-ok {
    padding-left: 1%;
}

.glyphicon-flag {
    color: white;
    position: absolute;
    top: 95%;
    left: 95%;
}

#viewer:hover .glyphicon-flag {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}