#container {
    height: 88vh;
    display: flex;
}

#galleryImage, #rotateContainer, #viewer {
    width: 100%;
    height: 100%;
}

#galleryImage {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dataSet {
    margin-bottom: 3%;
}

#options {
    width: 40%;
    margin: 2% 0%;
    padding-right: 2%;
    overflow: scroll;
}

#prev, #next {
    top: 50%;
    margin-top: -35px;
}

#prev {
    left: 3%;
    transform: translate(-160%);
}

#next {
    right: 3%;
    transform: translate(160%);
}

#prev, #next, #rotateLeft, #rotateRight {
    position: absolute;
    height: 32px;
    width: 32px;
    cursor: pointer;
    transition: transform 111ms linear;
}

#rotateLeft, #rotateRight {
    top: 5%;
}

#rotateLeft {
    left: 3%;
    transform: translate(-160%);
}

#rotateRight {
    right: 3%;
    transform: translate(160%);
}

#progress {
    width: 100%;
    position: relative;
    top: 90%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: grey;
    font-size: 2rem;
    letter-spacing: 5px;
    transform: translateY(100%);
    transition: transform 111ms linear;
}

#viewContainer {
    position: relative;
    width: 60%;
    height: 100%;
    padding: 2%;
    padding-right: 1%;
}

#viewer {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: black;
}

#rotateContainer {
    position: absolute;
}

#rotateContainer:focus, input[type="submit"]:focus {
    outline: none;
}

.hidden {
    visibility: hidden;
}

#submit {
    background-color: #495867;
    border-radius: 13px;
    border-style: none;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);  
    font-size: 2rem;
    margin: 0 auto;
    min-width: 262px;
    width: 100%;
    height: 10%;
    min-height:40px;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f3f5;
}

input[type="submit"] {
    background: none;
    border: none;
    width: 100%;
}