<div id="container">
  <div id="personalData">
    <div id="imageArea">
      <img src="{{user?.photoURL}}">
      <label for="file">Edit Image</label>
      <input type="file" id="file" class="hidden" multiple>
    </div>
    <div id="textArea">
      <table>
        <tr>
          <th>Name</th>
          <td>{{user?.dispName}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{user?.email}}</td>
        </tr>
        <tr>
          <th>Roles</th>
          <td>{{user?.roles.admin ? "Admin" : "User"}}</td>
        </tr>
        <tr>
          <th>Books Transcribed</th>
          <td>{{user?.numTagged ? user?.numTagged : 0}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div id="fluidCont">
    <div id="blank"></div>
    <div id="transcription">Transcriptions</div>
    <div id="blank"></div>
  </div>

  <div class="dataSet" *ngFor="let book of books | async">
    <div class="title">
      <div class="triangle" (click)="toggle($event)"></div>
      <span>{{book.title}}</span>
    </div>

    <div class="data hidden">
      <div id="ital">Romanization: <span>{{book.title_rom}}</span></div>
    </div>

    <div class="data hidden">
      <div id="ital">Translation: <span>{{book.translated_title}}</span></div>
    </div>

    <div class="data hidden">
      <div id="ital">Author: <span>{{book.author_lastname}}, {{book.author_firstname}} </span></div>
    </div>
    
    <div class="data hidden">
      <div id="ital">Author Romanized: <span>{{book.author_lastname_rom}}, {{book.author_firstname_rom}} </span></div>
    </div>
    <div class="data hidden">
      <div id="ital">Publisher: <span>{{book.publisher_company}}, {{book.publisher_city}}, {{book.publisher_country}}, {{book.publisher_year}}</span></div>
    </div>

    <div class="data hidden">
      <div id="ital">Publisher Romanized: <span>{{book.publisher_company_rom}}, {{book.publisher_city_rom}}, {{book.publisher_country_rom}}, {{book.publisher_year_rom}}</span></div>
    </div>

    <div class="data hidden">
      <div id="ital">Pages: <span>{{book.pages}}</span></div>
    </div>

    <div class="data hidden">
      <div id="ital">Language: <span>{{book.language}}</span></div>
    </div>

    <div class="data hidden">
      <div id="ital">Script: <span>{{book.script}}</span></div>
    </div>

    <div class="data hidden">
      <div id="ital">OCLC-ID: <span>{{book.oclc_id}}</span></div>
    </div>
  </div>

</div>
