<div id="container">
  <div id="personalData">
    <div id="imageArea">
      <img src="http://via.placeholder.com/350x150">
      <button>Edit Image</button>
    </div>
    <div id="textArea">
      <span>Name: <span>John Doe</span></span>
      <span>Email: <span>johndoe@g.ucla.edu</span></span>
      <span>Roles: <span>User, Admin</span></span>
      <span>Total Books Tagged: <span>#</span></span>
    </div>
  </div>

  <div id="fluidCont">
    <div id="blank"></div>
    <div id="transcription">Transcriptions</div>
    <div id="blank"></div>
  </div>
</div>