button {
    background-color: #495867;
    border-radius: 20px;
    border-style: none;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);  
    color: #f0f3f5;
    font-size: 2.2rem;
    margin: 0 auto;
    min-width: 262px;
    width: 20%;
}

button:focus {
    outline: none;
}

img {
    height: 100%;
    min-height: 160px;
    width: 100%;
}

.container {
    flex-direction: column;
    height: 88vh;
    justify-content: center;
}

.container, div {
    padding: 0px;
}

.container, #bottomHalf, #topHalf, #para {
    display: flex;
}

#bottomHalf {
    height: 12%;
    min-height: 55px;
    margin-top: 3%;
    width: 100%;
}

#logo {
    margin-right: 2%;
    min-width: 262px;
    width: 20%;
}

#para {
    min-width: 262px;
    width:  25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.tooltip {
    display: block;
    border-bottom: 1px dotted black;
    opacity: 1;
    position: relative;
    background-color: #495867;
    text-align: center;
    font-size: 2rem;
    color: #f0f3f5;
    font-family: Lato;
    line-height: 300%;
    width: 60%;
    height: 30%;
    border-radius: 20px;
    border-style: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 190%;
    background-color: gray;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10%;
    height: auto;
    line-height: 2rem;
    position: absolute;
    left: 120%;
    top: 0%;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#topHalf {
    height: 30%;
    min-height: 200px;
    justify-content: center;
}