<div class="container">
  <div id="topHalf">
    <div id="logo"><img src="../../assets/CrowdTaggingLogo.png"></div>
    <div id="para">
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Sed mattis maximus nunc, et finibus nibh sodales sit amet. 
        Etiam pellentesque enim at dolor placerat, luctus condimentum tortor tristique. 
        Nam neque nisl, lacinia nec est in, interdum ultricies massa. 
        Mauris vitae luctus velit. Donec laoreet lacinia orci ut vestibulum. 
        Praesent congue quam id justo lacinia, pellentesque tristique leo blandit. 
      </span>
    </div>
  </div>
  <div id="bottomHalf" routerLinkActive="active"><button routerLink="transcribe">Get Started!</button></div>
</div>