<div id="container">
  <div id="innerContainer">
    <span id="textWrapper">
      <span id="valueProp">Streamlining Tag Discovery</span>
      <br>
      <span id="desc">
        Crowd Tagging is an application that allows you to tag books without all the
        headaches that usually accompany the task. You can label key characteristics of any
        book in our database with ease. You have the option of voting on preexisting
        transcriptions or adding your very own.
      </span>
    </span>
    <button *ngIf="user; else loginTemplate" routerLink="transcribe">Continue Tagging</button>
  </div>
</div>

<ng-template #loginTemplate>
  <button (click)="login()">Get Started!</button>
</ng-template>