button {
    background-color: #495867;
    border-radius: 20px;
    border-style: none;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);  
    color: #f0f3f5;
    font-size: 2rem;
    margin: 0 auto;
    min-width: 262px;
    width: 20%;
}

img {
    height: 100%;
    min-height: 160px;
    width: 100%;
}

.container {
    flex-direction: column;
    height: 88vh;
    justify-content: center;
}

.container, div {
    padding: 0px;
}

.container, #bottomHalf, #topHalf, #para {
    display: flex;
}

#bottomHalf {
    height: 12%;
    min-height: 55px;
    margin-top: 3%;
    width: 100%;
}

#logo {
    margin-right: 2%;
    min-width: 262px;
    width: 20%;
}

#para {
    margin: auto 0;
    min-width: 262px;
    text-align: center; 
    width:  25%;
}

#topHalf {
    height: 30%;
    min-height: 200px;
    justify-content: center;
}